body {
    background-color: #e6f2ff;
    font-family:Arial;
    background-color: #f2f2f2;
    padding: 20px;
}
h1 {
    color:#003366
}
h2{
    color:#0059b3
}
p, li {
    color:#333
    font-size: 16px;
}
.section {
    background-color: white;
    padding: 15px;
    margin:15px;
    border-radius:10px;
}
button{
      background-color:#0059b3
      color: white;
      padding: 10px 20px;
      border:none;
      border-radius:5px;
}